// @import '../app/app.scss';
.quiz {
    width: 90vw;
    max-width: var(--max-width);
    margin: 4rem auto;
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 3rem;
}
.correct-answers {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: right;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    color: var(--clr-green-dark);
  }
.next-question {
    border-radius: var(--radius);
    border-color: transparent;
    padding: 0.25rem 0.5rem;
    display: block;
    width: 35%;
    margin-left: auto;
    margin-top: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: var(--spacing);
    font-size: 1rem;
    background: #5425b3;
    color: var(--clr-white);
    transition: var(--transition);
    cursor: pointer;
        &:hover { 
            background-color: var(--clr-primary-6);
        }
    }
.answer-btn {
    display: block;
    width: 100%;
    margin: 0.75rem auto;
    background: var(--clr-primary-7);
    border-radius: var(--radius);
    border-color: transparent;
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 0;
    transition: var(--transition);
    }
    @media screen and (min-width: 576px) {
    .answer-btn {
        max-width: 60%;
    }
    }
    .answer-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-white);
    }